
div {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

img{
    width: 150;
}

h1{
    border: 2px solid black;
}

h3{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
}

p{
    line-height: 30px;
    text-align: justify;
}

h4{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
}
a{
    background-color: rgb(22, 240, 40);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 40px;
}