div{
    font-family: Tahoma;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 50px;
}

a{
    text-decoration: none;
    background-color: rgb(53, 158, 32);
    color: white;
    padding: 8px 30px;
    border-radius: 30px;
}


span {
    font-weight: bold;
}